<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <style>
            
        </style>
    </head>
    <body>
        
    <a href="{{ path('create_table' ) }}">
        <button> Create Table </button>
    </a>

    </body>
</html>
