{% extends 'base.html.twig' %}

{% block header %}
    <h1> Creativity </h1>
{% endblock %}

{% block content %}

In 1666, one of the most influential scientists in history was strolling through a garden when he was struck with a flash of creative brilliance that would change the world.
<br><br>
While standing under the shade of an apple tree, Sir Isaac Newton saw an apple fall to the ground. “Why should that apple always descend perpendicularly to the ground,” Newton wondered. “Why should it not go sideways, or upwards, but constantly to the earth’s center? Assuredly, the reason is, that the earth draws it. There must be a drawing power in matter.”
<br><br>
And thus, the concept of gravity was born.
<br><br>
The story of the falling apple has become one of the lasting and iconic examples of the creative moment. It is a symbol of the inspired genius that fills your brain during those “eureka moments” when creative conditions are just right.
<br><br>
What most people forget, however, is that Newton worked on his ideas about gravity for nearly twenty years until, in 1687, he published his groundbreaking book, The Principia: Mathematical Principles of Natural Philosophy. The falling apple was merely the beginning of a train of thought that continued for decades.
<br><br>
Newton isn't the only one to wrestle with a great idea for years. Creative thinking is a process for all of us. In this article, I’ll share the science of creative thinking, discuss which conditions drive creativity and which ones hinder it, and offer practical tips for becoming more creative.
Creative Thinking: Destiny or Development?
<br><br>
Creative thinking requires our brains to make connections between seemingly unrelated ideas. Is this a skill that we are born with or one that we develop through practice? Let's look at the research to uncover an answer.
<br><br>
In the 1960s, a creative performance researcher named George Land conducted a study of 1,600 five-year-olds and 98 percent of the children scored in the “highly creative” range. Dr. Land re-tested each subject during five year increments. When the same children were 10-years-old, only 30 percent scored in the highly creative range. This number dropped to 12 percent by age 15 and just 2 percent by age 25. As the children grew into adults they effectively had the creativity trained out of them. In the words of Dr. Land, “non-creative behavior is learned.”
<br><br>
Similar trends have been discovered by other researchers. For example, one study of 272,599 students found that although IQ scores have risen since 1990, creative thinking scores have decreased.
<br><br>
This is not to say that creativity is 100 percent learned. Genetics do play a role. According to psychology professor Barbara Kerr, “approximately 22 percent of the variance [in creativity] is due to the influence of genes.” This discovery was made by studying the differences in creative thinking between sets of twins.
<br><br>
All of this to say, claiming that “I'm just not the creative type” is a pretty weak excuse for avoiding creative thinking. Certainly, some people are primed to be more creative than others. However, nearly every person is born with some level of creative skill and the majority of our creative thinking abilities are trainable.
<br><br>
Now that we know creativity is a skill that can be improved, let's talk about why—and how—practice and learning impacts your creative output.


{% endblock %}