{% extends 'base.html.twig' %}

{% block title %}Final!{% endblock %}

{% block body %}

    
   
    <div id="postForm-container">
        {% if app.user %}
            {% include 'post/postForm.html.twig' %}
        {% endif %}
    </div>

    <br>
    <div id="ajax-results"></div>

    <div id="postList-container">
        {% if app.user %}
            {% include 'post/postTable.html.twig' %}
        {% endif %}
    </div>

    <div id="loginForm-container">
        {% if not app.user %}
            {% include 'login/loginForm.html.twig'%}
        {% endif %}
    </div>

    <div id="details-container"></div>

    <br>
    <br>
    <div id="postDetail-container"></div>

{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ asset('js/post_login.js') }}"></script>
<script src="{{ asset('js/post_add.js') }}"></script>
<script src="{{ asset('js/post_delete.js') }}"></script>
<script src="{{ asset('js/post_detail.js') }}"></script>
{% endblock %}