<br>
<br>
<br>

<table id="post-list">
    <tr>
    <th>Title</th>
    <th>Created Date</th>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <th>Delete</th>
    {% endif %}
    
    </tr>

        {% for post in posts %}
            <tr>
                <td><a href="{{ path( 'viewAction', {'id': post.id} )}} " class="titleAction">{{ post.title }} </a></td>
                <td>{{ post.created|date('Y-m-d H:i:s') }}</td>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <td><a href="{{ path( 'deleteAction', {'id': post.id} )}} " class="postDelete"> Delete </a></td>
                {% endif %}

            </tr>
        {% endfor %}

</table> 

<div id="response"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<script>
$(function() {
        $('#post-list').on('click', '.titleAction', function(event) {
            event.preventDefault();

            $.ajax({
            url: this.href,
            type: 'GET',
            success: function(response) {
                const data = response.response;
                const html = `
                <br>
                <br>
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Created Date</th>
                    </tr>
                
                    <tr>
                        <td><p>${data.title}</p></td>
                        <td><p>${data.content}</p></td>
                        <td><p>${data.created}</p></td>
                    </tr>

                `;
                $('#response').html(html);
            },
            error: function() {
                $('#response').html('An error occurred while processing the request.');
            }
        });
    });
});


$(function() {
        $('#post-list').on('click', '.postDelete', function(event) {
            event.preventDefault();
            const deleteUrl = this.href;

        $.confirm({
            title: 'Confirm!',
            content: 'Are you sure to delete post?',
            type: 'red',
            typeAnimated: true,
            boxWidth: '30%',
            useBootstrap: false,
            buttons: {
                confirm: function() {
                    $.ajax({
                        url: deleteUrl,
                        type: "POST",
                        success: function(response) {
                            $('#response').html(response);
                        }
                    });
                },
                cancel: function() {}
            }
        });

    
    });
});
</script>